@font-face {
	font-family: "Courier New";
	src: url("../static/fonts/courier-new/courier-new.ttf") format('truetype');

	//src: url('fonts/EntezareZohoor2.eot');
	//src: url('fonts/EntezareZohoor2.eot?') format('☺'),
	//url('fonts/EntezareZohoor2.woff') format('woff'),
	//url('fonts/EntezareZohoor2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


:root {
	font-family: "Courier New", Courier, monospace;
}